nav{
	background-color:blue;
	}
	.contenedor{
		background-color: green;
		}
		footer{
		background-color: red;
		}
		article{
			background-color: brown;
		}
		header{
			background-color: yellow;
		}
		.principal{
			background-color: pink;
		}